Options -Indexes

RewriteEngine On
RewriteBase /

# Redirecionar todas as solicitações para o router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [NC,L,QSA]

# Evitar que arquivos e pastas sejam acessíveis diretamente
RewriteRule ^(\.git|\.svn|\.idea) - [F,L,NC]

# Define a página de erro padrão
ErrorDocument 404 /404.php

